
<h1 class="text-center m-4 text-dark"> Editing Libro</h1>
<div class="text-center">

<%= render 'form', libro: @libro %>
<%= link_to 'Show', @libro %>|
<%= link_to 'New Libro', new_libro_path %>


</div>
